# Order is important. The last matching pattern has the most precedence.

*                          @chef-cookbooks/audit-cookbook-team
README.md                  @chef/docs-team
.github/ISSUE_TEMPLATE/**  @chef/docs-team
